html {
    background-color: rgb(17, 103, 110);
}

html::after,
html::before {
    content: '';
    position: fixed;
    display: block;
    background-color: rgb(25, 162, 174);
    border-radius: 50%;
    width: 100vmin;
    height: 100vmin;
    z-index: -1;
}

html::before {
    top: -100px;
    left: -100px;
}

html::after {
    bottom: -100px;
    right: -100px;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
}

.card {
    width: 300px;
    height: 350px;
    background-color: whitesmoke;
    border-radius: 20px;
    overflow: hidden;
}

.card__header {
    background-image: url('../assets/images/bg-pattern-card.svg');
    height: 115px;
    position: relative;
}

.card__image {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    border: 3px solid whitesmoke;
    background-color: whitesmoke;
}

.card__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 135px;
    padding-top: 15px;
}

.card__text {
    margin: 0;
    line-height: 1.5;
}

.card__text--light {
    color: gray;
    font-weight: normal;
}

.card__footer {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid gray;
}

.card__stats {
    width: 100%;
    text-align: center;
}

.card__number {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    line-height: 1.5;
}